node_modules/
**/node_modules/

.env
.env.*
**/.env
**/.env.*

/*/dist/
/*/dist/**
/services/api-gateway/dist/
/services/api-gateway/dist/**
/services/auth-service/dist/
/services/auth-service/dist/**
/services/mail-service/dist/
/services/mail-service/dist/**
build/
**/build/
**/build/**

coverage/
**/coverage/
**/coverage/**
.cache/
**/.cache/
**/.cache/**

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/node_modules/
**/node_modules/

.env
.env.*
**/.env
**/.env.*

/*/dist/
/*/dist/**
/services/api-gateway/dist/
/services/api-gateway/dist/**
/services/auth-service/dist/
/services/auth-service/dist/**
/services/mail-service/dist/
/services/mail-service/dist/**
build/
**/build/
**/build/**

coverage/
**/coverage/
**/coverage/**
.cache/
**/.cache/
**/.cache/**

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/